<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="navbar-brand">Sistema Alumnos</h1>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Alumnos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/cursos">Cursos</a>
            </li>
        </ul>
    </nav>
    <div class="alert alert-danger" role="alert" th:if="${list.isEmpty()}">
        No hay Cursos!
    </div>
    <div th:if="${!list.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Cupo Maximo</th>
                <th>Año</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Curso : ${list}">
                <td th:text="${Curso.nombre}"></td>
                <td th:text="${Curso.descripcion}"></td>
                <td th:text="${Curso.cupomaximo}"></td>
                <td th:text="${Curso.anio}"></td>
                <td><a class="btn btn-info" th:href="@{/curso/{id}(id=${Curso.identificador})}">Detalle</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>