<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="navbar-brand">Sistema Alumnos</h1>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cursos">Cursos</a>
            </li>
        </ul>
    </nav>
    <div class="alert alert-danger" role="alert" th:if="${list.isEmpty()}">
        No hay inscriptos!
    </div>
    <div th:if="${!list.isEmpty()}">
    <div>
        <h3>Docente: <span th:text="${list[0].curso.docente}"></span></h3>
    </div>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo de Documento</th>
                <th>Numero de Documento</th>
                <th>Fecha de inscripcion</th>
                <th>Legajo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inscripcion : ${list}">
                <td th:text="${inscripcion.alumno.nombre}"></td>
                <td th:text="${inscripcion.alumno.apellido}"></td>
                <td th:text="${inscripcion.alumno.tipodoc.displayValue}"></td>
                <td th:text="${inscripcion.alumno.documento}"></td>
                <td th:text="${inscripcion.fechainscripcion}"></td>
                <td th:text="${inscripcion.alumno.legajo}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>