<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<head>
    <meta charset="UTF-8">
    <title>Alumnos</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="navbar-brand">Sistema Alumnos</h1>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cursos">Cursos</a>
            </li>
        </ul>
    </nav>
    <div>
        <h2>Datos del alumno</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo de Documento</th>
                <th>Numero de Documento</th>
                <th>Fecha de Nacimiento</th>
                <th>Legajo</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.apellido}"></td>
                <td th:text="${alumno.tipodoc.displayValue}"></td>
                <td th:text="${alumno.documento}"></td>
                <td th:text="${alumno.fechaNacimientoFormat()}"></td>
                <td th:text="${alumno.legajo}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${!carreras.isEmpty()}">
        <h2>Inscripciones a Carreras</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha de Inscripcion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inscripcionCarrera : ${carreras}">
                <td th:text="${inscripcionCarrera.carrera.nombre}"></td>
                <td th:text="${inscripcionCarrera.carrera.descripcion}"></td>
                <td th:text="${inscripcionCarrera.fechaInscripcionFormat()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${!cursos.isEmpty()}">
        <h2>Inscripciones a cursos</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Cupo Maximo</th>
                <th>Año</th>
                <th>Fecha de Inscripcion</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="inscripcion : ${cursos}">
                <td th:text="${inscripcion.Curso.nombre}"></td>
                <td th:text="${inscripcion.Curso.descripcion}"></td>
                <td th:text="${inscripcion.Curso.cupomaximo}"></td>
                <td th:text="${inscripcion.Curso.anio}"></td>
                <td th:text="${inscripcion.fechaInscripcionFormat()}"></td>
                <td th:text="${inscripcion.getEstado()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>