<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscripcion de Alumno</title>

    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <h2>Inscripcion de Alumno</h2>
    <form action="#" th:action="@{/inscripto}" th:object="${inscripcion}"
          method="post">
        <input type="hidden" th:field="*{alumno}" th:value="*{alumno}" name="alumno"
               id="alumno">
        <div class="form-group">
            <label>Curso</label>
            <select name="curso" th:field="*{curso}">
                <option th:each="curso : ${cursos}"
                        th:value="${curso.identificador}"
                        th:text="${curso.nombre}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Inscribir</button>
    </form>
</div>
</body>
</html>